<div id="ck-<%= uid %>-box"></div>
<script>
    function load_newsletter(uid) {
        var newsletterTarget = document.getElementById("ck-<%= uid %>-box");
        if (document.contains(newsletterTarget)) {
            var parent = newsletterTarget.parentElement;
            newsletterTarget.remove();

            var newsletterEmbed = document.createElement("script");
            newsletterEmbed.type = "text/javascript";
            newsletterEmbed.async = true;
            newsletterEmbed.src = "https://<%= domain %>/" + uid + "/index.js";
            newsletterEmbed.setAttribute("data-uid", uid);

            parent.appendChild(newsletterEmbed);
        }
    }
    window.addEventListener("scroll", function(e) {
        var currentScroll = document.scrollingElement.scrollTop;
        var newsletterTarget = document.getElementById("ck-<%= uid %>-box");
        if (document.contains(newsletterTarget) && currentScroll > newsletterTarget.offsetTop - 500) {
            load_newsletter("<%= uid %>");
        }
    });
</script>
